$color-switched: #3a7de3;
$hover-switched: #35526f;
$orange: #ea7713;
$corall: #f45040;
$green: #27cb6c;
$mint: #14c09d;
$main-text :#35393B;
$green2: #adc816;
$purple: #a153bf;

$border: 1px solid #e6e6e6;
$border2: 2px solid #e6e6e6;